<!--<style type="text/css">-->
    <!--.header-tab{-->
        <!--position: relative;-->
        <!--padding: 0px 90px;-->
        <!--text-align: center;-->
        <!--line-height: 44px;-->
        <!--background: #efeff0;-->
        <!--border-bottom: 1px solid #ddd;-->
    <!--}-->
    <!--.header-tab a:before{-->
        <!--/*书城 的Unicode编码 \4e66\67b6 */-->
        <!--content: '\4e66\67b6';-->
        <!--display: block;-->
        <!--margin: 0 auto;-->
        <!--width: 2em;-->
    <!--}-->
    <!--.header-tab a:first-child:before{-->
        <!--content: '\4e66\57ce';-->
    <!--}-->

    <!--.header-tab i {-->
        <!--bottom: -1px;-->
    <!--}-->
    <!--.header-tab i:before{-->
        <!--content:'';-->
        <!--display: block;-->
        <!--height: 2px;-->
        <!--width: 34px;-->
        <!--margin:0 auto;-->
        <!--background: #777;-->
    <!--}-->

    <!--.header-user {-->
        <!--position: absolute;-->
        <!--right: 0px;-->
        <!--top:0px;-->
        <!--width: 44px;-->
        <!--height: 44px;-->
        <!--background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;-->
        <!--background-size: 16px;-->
    <!--}-->
    <!--.header-checkin{-->
        <!--position: absolute;-->
        <!--left: 0px;-->
        <!--top:0px;-->
        <!--width: 44px;-->
        <!--height: 44px;-->
        <!--background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) no-repeat center;-->
        <!--background-size: 22px;-->
    <!--}-->
    <!--.Swipe-tab {-->
        <!--position: relative;-->
        <!--overflow: hidden;-->
        <!--z-index: 1;-->
    <!--}-->
    <!--.Swipe-tab a {-->
        <!--float: left;-->
        <!--text-align: center;-->
        <!--/*去除 被点击后的默认黄色边框*/-->
         <!-- -webkit-tap-highlight-color: rgba(0,0,0,0);-->
    <!--}-->
    <!--.Swipe-tab_2 a {-->
        <!--width: 50%;-->
    <!--}-->
    <!--.Swipe-tab i {-->
        <!--position: absolute;-->
        <!--left: 0;-->
         <!-- -webkit-transition: -webkit-transform 0.3s ease-out;-->
        <!--/*margin: 0 auto;*/-->
    <!--}-->
    <!--.Swipe-tab__on{-->
        <!--color:#ff6600;-->
    <!--}-->
    <!--/*清除浮动*/-->
    <!--.f-cb:after{-->
        <!--clear: both;-->
        <!--content: '';-->
        <!--height: 0;-->
        <!--overflow: hidden;-->
        <!--visibility: hidden;-->

    <!--}-->
<!--</style>-->


<div class="header-tab" id='app_header'>
    <div class="Swipe-tab Swipe-tab_2 f-cb">
        <a href="javascript:" @click='show_index_fn' :class='{ "Swipe-tab__on": show_index }'></a>
        <a href="" @click='show_shelf_fn' :class='{ "Swipe-tab__on": show_shelf }'></a>
        <i style='width:50%; transition:All 0.4s ease-in-out;' :class='{"Swipe-tab__i-trans": show_shelf}'></i>
    </div>
    <em class='header-user'></em>
    <em class='header-checkin'></em>
</div>