
<section class="top-home">
    <a href="/search">
        <span class="top-home__search">输入书名\作者\关键字</span>
    </a>

    <div class="slider-banner">
        <div>
            <a href="#">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01V1KHze11Q/lb3QSrqV6N2qpI.jpg" alt="活动页面" />
            </a>
        </div>

    </div>
    <ul class="top-home__btn">
        <li>
            <a clas="" href="/male">
                <img class="top-home__icon" src="/static/img/male.png" alt="">
                <p class="top-home__des">男生</p>
            </a>
        </li>
        <li>
            <a href="/male">
                <img class="top-home__icon" src="/static/img/female.png" alt="">
                <p class="top-home__des">女生</p>
            </a>
        </li>
        <li>
            <a href="/male">
                <img class="top-home__icon" src="/static/img/category.png" alt="">
                <p class="top-home__des">分类</p>
            </a>
        </li>
        <li>
            <a href="/male">
                <img class="top-home__icon" src="/static/img/rank.png" alt="">
                <p class="top-home__des">排行</p>
            </a>
        </li>
    </ul>
</section>















<!--<section class='top-home'>-->
  <!--<a href="/search">-->
    <!--<div class="top-home__search">-->
      <!--输入书名/作者/关键字-->
    <!--</div>-->
  <!--</a>-->
  <!--<div class="slider-banner">-->
    <!--<div class="">-->
      <!--<a href="#">-->
        <!--<img class='cover' src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01V1KHze11Q/lb3QSrqV6N2qpI.jpg" alt="活动页面" />-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<ul class='top-home__btn'>-->
    <!--<li>-->
      <!--<a href="/male">-->
        <!--<img class='top-home__icon' src="/static/img/male.png" alt="">-->
        <!--<p class='top-home__des'>男生</p>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="/female">-->
        <!--<img class='top-home__icon' src="/static/img/female.png" alt="">-->
        <!--<p class='top-home__des'>女生</p>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="/category">-->
        <!--<img class='top-home__icon' src="/static/img/category.png" alt="">-->
        <!--<p class='top-home__des'>分类</p>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="/rank">-->
        <!--<img class='top-home__icon' src="/static/img/rank.png" alt="">-->
        <!--<p class='top-home__des'>排行</p>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</section>-->
