

<!--<div class="shelf">-->
  <!--<div class="shelf__top">-->
    <!--<a href='/search'>-->
      <!--<div class="shelf__switch"></div>-->
      <!--<div class="shelf-search">-->
        <!--输入书名/作者/关键字-->
      <!--</div>-->
    <!--</a>-->
  <!--</div>-->
  <!--<ul class='shelf__book-list'>-->
      <!--<li>-->
        <!--<div class="u-book" style="position:relative;">-->
          <!--<a href="#">-->
            <!--<div class="boolk-cover">-->
              <!--<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01YqmjmWxtq/Eis58fZCsBFvXY.jpg!s" alt="">-->
            <!--</div>-->

          <!--</a>-->
          <!--<div class="info" style="position:absolute;top:0;left:50%">-->
              <!--<h3 class='title'>诛仙</h3>-->
              <!--<p class='author'>-->
                  <!--<span class='author'>萧鼎</span>-->
              <!--</p>-->
              <!--<div class="wrap">-->
                  <!--<p>最新：《后记》</p>-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</li>-->
      <!--<li>-->
        <!--<div class="u-book" style="position:relative;">-->
          <!--<a href="#">-->
            <!--<div class="boolk-cover">-->
              <!--<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01YqmjmWxtq/Eis58fZCsBFvXY.jpg!s" alt="">-->
            <!--</div>-->

          <!--</a>-->
          <!--<div class="info" style="position:absolute;top:0;left:50%">-->
              <!--<h3 class='title'>诛仙</h3>-->
              <!--<p class='author'>-->
                  <!--<span class='author'>萧鼎</span>-->
              <!--</p>-->
              <!--<div class="wrap">-->
                  <!--<p>最新：《后记》</p>-->
              <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</li>-->
  <!--</ul>-->
<!--</div>-->
