<!--<!DOCTYPE html>-->
<!--<html>-->
  <!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">-->
    <!--<meta name="format-detection" content="telephone=no">-->
    <!--<link rel="stylesheet" type='text/css' href="/static/css/reset.css">-->
    <!--<link rel="stylesheet" type='text/css' href="/static/css/book.css">-->
    <!--<link rel="stylesheet" type='text/css' href="/static/css/all.css">-->
    <!--<title></title>-->
  <!--</head>-->
  <!--<style media="screen">-->
      <!--.container-wrap{-->
        <!--position: static;-->
      <!--}-->
      <!--.container-search-wrap{-->
        <!--position: absolute;-->
        <!--top:0px;-->
        <!--left: 0px;-->
        <!--right: 0px;-->
      <!--}-->
      <!--.search_page__bar{-->
        <!--position: relative;-->
        <!--margin: 5px 20px 5px 42px;-->
        <!--height: 35px;-->
        <!--box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08)-->
      <!--}-->
      <!--.search_page__search{-->
        <!--background: url(http://image.read.duokan.com/mfsv2/download/s010/p01TjruXIhgt/PP13pEqhpChuay.png) no-repeat center;-->
        <!--background-size: 16px;-->
        <!--left: 0px;-->
        <!--top: 0px;-->
        <!--width: 35px;-->
        <!--height: 36px;-->
        <!--border-right: 1px solid rgba(0, 0, 0, 0.1);-->
        <!--position: absolute;-->
      <!--}-->
      <!--.search_page__input{-->
        <!--border: none;-->
        <!--box-sizing: border-box;-->
        <!--display: block;-->
        <!--width: 100%;-->
        <!--height: 100%;-->
        <!--padding: 8px 52px 8px 42px;-->
        <!--font-size: 14px;-->
        <!--color: rgba(0, 0, 0, 0.8);-->
        <!--background: #fff;-->
      <!--}-->
      <!--.search__btn{-->
        <!--display: block;-->
        <!--line-height: 36px;-->
        <!--position: absolute;-->
        <!--right: 0;-->
        <!--top: 0;-->
        <!--border-left: 1px solid #ddd;-->
        <!--padding: 0 8px;-->
        <!--font-size: 14px;-->
        <!--color: #666;-->
      <!--}-->
      <!--.search-content{-->
        <!--position: absolute;-->
        <!--top:44px;-->
      <!--}-->
      <!--.search-tag{-->
        <!--display: none;-->
      <!--}-->
      <!--.search-tag-ul{-->
        <!--padding: 17px;-->
      <!--}-->
      <!--.search-tag-li{-->
        <!--border: 1px solid #d3d3d3;-->
        <!--border-radius: 4px;-->
        <!--display: inline-block;-->
        <!--line-height: 1.8em;-->
        <!--text-align: center;-->
        <!--width: auto;-->
        <!--padding: 0 20px;-->
        <!--font-size: 14px;-->
        <!--margin: 0 10px 10px 0;-->
        <!--color:#766d5d;-->
      <!--}-->
      <!--.search-tag-li:nth-child(4n+1){-->
        <!--background-color: #fbebe8;-->
      <!--}-->
      <!--.search-tag-li:nth-child(4n+2){-->
        <!--background-color: #fcedda;-->
      <!--}-->
      <!--.search-tag-li:nth-child(4n+3){-->
        <!--background-color: #e8f9db;-->
      <!--}-->
      <!--.search-tag-li:nth-child(4n+4){-->
        <!--background-color: #DBF9F9-->
      <!--}-->
      <!--.search-book-ul{-->
        <!--padding: 17px;-->
      <!--}-->
      <!--.search-book-li{-->

      <!--}-->
      <!--.search-book-cover{-->
        <!--width: 125px;-->
        <!--height: 175px;-->
      <!--}-->
      <!--.search-book-cover img{-->
        <!--width: 100%;-->
        <!--height: 100%;-->
      <!--}-->
      <!--.search-book__info{-->

      <!--}-->
      <!--.search-book__summary{-->
        <!--text-overflow: ellipsis;-->
      <!--}-->
  <!--</style>-->
  <!--<body>-->
      <!--<div id='app_search'>-->
            <!--<div class="container-wrap " >-->
              <!--<div class="top container-search-wrap">-->
                <!--<a href="/" class='top_back'></a>-->
                <!--<div class="search_page__bar">-->
                    <!--<div class="search_page__search"> </div>-->
                    <!--<input id="search_box" type="text" name="" placeholder="输入书名/作者/关键字" class='search_page__input' value="">-->
                    <!--<div class="search__btn" @click="doSearch">搜索</div>-->
                <!--</div>-->

              <!--</div>-->
              <!--<div class="search-content">-->
                  <!--<div class="search-tag">-->
                    <!--<ul class='search-tag-ul'>-->
                        <!--<li class='search-tag-li'>如果蜗牛有爱情</li>-->
                        <!--<li class='search-tag-li'>莫天吉</li>-->
                        <!--<li class='search-tag-li'>择天记</li>-->
                        <!--<li class='search-tag-li'>Handy Bottle</li>-->
                        <!--<li class='search-tag-li'>诛仙</li>-->
                        <!--<li class='search-tag-li'>别那么骄傲</li>-->
                        <!--<li class='search-tag-li'>莫天吉</li>-->
                        <!--<li class='search-tag-li'>JOJO奇妙冒险</li>-->

                    <!--</ul>-->

                  <!--</div>-->
                  <!--<div class="search-book" v-show="condition">-->
                      <!--<ul class="search-book-ul">-->
                          <!--<li class="search-book-li" v-for="item in search">-->
                            <!--<div class="search-book-cover">-->
                              <!--&lt;!&ndash;<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01sXJN0u7t2/nqSmkVBT5glFWh.jpg!s" alt=""></img>&ndash;&gt;-->
                                <!--<img :src="item.cover" alt=""></img>-->

                            <!--</div>-->
                            <!--<div class="search-book__info">-->
                  						<!--<p class="search-book__title">item.title</p>-->

                  						<!--<p class="search-book__summary">{{item.summary}}：“四叔，不要！我还小。”他目光在她身上扫过，邪魅-->
                                <!--<p class="search-book__author">肖某某{{item.author}}</p>-->

                  					<!--</div>-->
                          <!--</li>-->
                      <!--</ul>-->
                  <!--</div>-->
              <!--</div>-->
            <!--</div>-->
      <!--</div>-->
  <!--</body>-->
  <!--<script src="/static/script/vue.js"></script>-->
	<!--<script src="/static/script/zepto.js"></script>-->
<!--</html>-->
